*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: end;
  inline-size: 1140px;
  margin: 133px 30px;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 40px;
  width: 711px;
  margin-top: 16px;
}
.content__details {
  display: flex;
  height: 534px;
  width: 399px;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 26px;
}
.content__list {
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
}
/*.content__list-item {
  height: 107px;
  width: 394px;
}*/
.content__list-item:not(:last-child) {
  margin-block-end: 32px;
}
/*.content__list-item:has(:focus-visible) {
  border: 1px solid #fff;
}*/
.content__card-link {
  display: flex;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.content__card-link_current {
  background: #545050;
}
.content__card-link_current:focus {
  outline: none;
}

.content__card-link_current:has(:focus-visible) {
  border: 1px solid #fff;
}
.content__video-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;

}
.content__video-card-thumbnail {
  height: 103px;
  flex-grow: 1;
}
.content__video-card-description-container {
  width: 200px;

}
.content__video-card-description-container:hover {
  text-decoration: underline;
}
.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
}
.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
video {
  width: 100%;
}
.search-form__fieldset {
  display: grid;
  width: fit-content;
  row-gap: 5px;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}
.content__accent {
  opacity: 0.5;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
fieldset {
  border: none;
  width: fit-content;
}
.search-form__label { /*текстовое поле*/
  display: flex;
  width: fit-content;
  appearance: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  column-gap: 5px;
}
.search-form__label:has(:focus-visible) {
  border: 1px solid currentColor;
}
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}
.search-form__checkbox {
  display: flex;
  justify-content: center;
  align-self: center;
}
.time_of_day:hover {
  text-decoration: underline;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  margin: 1px;
  background-color: #fff;
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 19px; 
  height: 19px; 
  border: 1px solid #fff; 
  cursor: pointer;
}
.search-form__label:focus {
  border: 1px solid #fff;
}
.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid currentColor;
}
.button:active {
  background: #545050;
}
.button:hover {
  text-decoration: underline;
}
.search-form__submit-button {
  width: 194px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  height: 34px;
}
.more-button {
  width: 100%;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  height: 34px;
}
input {
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  width: 225px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
 }
